<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <section>
        <div class="contianer my-4">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div>   
                        <h4 class="title">Post title</h4>
                        <p><%= post.title %></p>
                    </div>

                    <div>
                        <h4 class="title">Post content/body</h4>
                        <p><%= post.body %> </p>
                    </div>

                    <div>
                        <h4 class="title">Comments</h4>
                        <% comments.forEach((commentData) => { %>
                            <div class="p-2 mt-4 border shadow">
                                <p><b><%= commentData.name %></b></p>
                                <p><%= commentData.email %></p>
                                <p><%= commentData.body %></p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>